<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="banner-wrapper">
        <img src="@Url.Content("~/imgs/banner.png")" alt="Team Banner" />
    </div>



<div class="texto-vibe">
    <h1>👋 Welcome to Team Allice Volleyball</h1>
    <p>Passion. Power. Precision — all in one team.</p>
</div>

<table class="fruit-table">
    <tr>
        <td><img src="@Url.Content("~/imgs/index1.png")" alt="Banana" class="fruit-image" /></td>
        <td class="fruit-info">
            <h3>Agility</h3>
            <p><strong>Why it matters:</strong> Allows quick reactions and fast movement to reach the ball.</p>
            <p><strong>Highlight:</strong> Essential for fast defenses and sharp counterattacks.</p>
        </td>
    </tr>
    <tr>
        <td><img src="@Url.Content("~/imgs/index2.png")" alt="Maçã" class="fruit-image" /></td>
        <td class="fruit-info">
            <h3>Game Awareness</h3>
            <p><strong>Why it matters:</strong> Helps anticipate opponents’ moves and make smart decisions.</p>
            <p><strong>Highlight:</strong> A key trait for setters and tactical players.</p>
        </td>
    </tr>
    <tr>
        <td><img src="@Url.Content("~/imgs/index3.png")" alt="Uva" class="fruit-image" /></td>
        <td class="fruit-info">
            <h3>Strength & Accuracy</h3>
            <p><strong>Why it matters:</strong> Drives powerful serves, spikes, and blocks.</p>
            <p><strong>Highlight:</strong> The perfect balance of power and technique.</p>  
        </td>
    </tr>
</table>

<div class="card-fruta">
    <img src="@Url.Content("~/imgs/youth.png")" alt="Banana Prata" />
    <div class="card-texto">
        <h3>Frequently Asked Questions</h3>
        <p><strong>Got questions?</strong> Find answers about our players, matches, training, and how to join or support the team</p>
        <p>Clear, quick, and always updated!</p>
        <button class="btn-detalhes">[Go to FAQ]</button>
    </div>
</div>

<div class="texto-vibe">
    <h2>🏐 Our Passion for Volleyball</h2>
    <p>
        At Team Allice Volleyball, we believe that teamwork, dedication, and passion 
        can transform lives.
    </p>
    <p>
        Every serve, spike, and block is the result of discipline, unity, and love for the game.

        From early training sessions to tournament days, we strive to grow stronger — not just as athletes, but as a family.
        Join us and experience the energy, spirit, and determination that define who we are. 💜
    </p>
</div>


<script src="https://cdn.botpress.cloud/webchat/v3.0/inject.js"></script>
<script src="https://files.bpcontent.cloud/2025/06/23/19/20250623195050-83IHYBR6.js"></script>

</body>